[2012-09-12 22:09] cyrus- opened #1 "Figure out licensing"
Assume we want some sort of liberal license (BSD, MIT, AFL, Apache, ...?). Need to determine which is best and add appropriate language to README, add license itself to base of repo and add license headers to the code files.

[2012-09-12 22:10] cyrus- opened #2 "Implement "Required Tests" for tests"
I think we probably want to explicitly list which tests must be passed in order for a given test to be applicable, similar to required_capabilities. This is going to be a potentially gnarly dependency-resolution problem though, so need to figure out how that should work.

[2012-09-12 22:12] cyrus- opened #3 "Multidimensional run arguments"
Need to be able to pass more than 1 test and model and get a matrix of results out.

This matrix needs to have methods for showing the results in plain text on the console in appropriate format.

[2012-09-12 22:12] cyrus- opened #4 "Test Suite"
Need to write a test suite for sciunit core.

[2012-09-12 22:13] cyrus- opened #5 "Setup & Distribution"
Need to create a distutils or whatever setup and submit to PyPI for easy installation.

[2012-09-12 22:15] cyrus- opened #6 "Extract Documentation"
Using Sphinx or whatever else the cool kids are using nowadays.

[2012-09-12 22:16] cyrus- opened #7 "Details in README"
Need more details, links, examples in README file. Possibly don't use Markdown.

[2012-11-11 00:08] #1 closed, assigned to rgerkin

[2012-11-11 00:09] #2 closed, assigned to cyrus-

[2012-11-11 00:16] #3 closed, assigned to cyrus-

[2012-11-11 00:34] #4 closed, assigned to cyrus-

[2012-11-12 02:13] #5 closed, assigned to cyrus-

[2014-03-30 04:19] cyrus- opened #13 "Merge initial table generation code from cyrus-'s repository"

[2014-03-30 04:19] cyrus- opened #14 "Tutorial"
- Write up a simple tutorial using an IPython notebook.
- Link to it from the README.

[2014-03-30 04:20] cyrus- opened #15 "Caching strategy for test results"
Need to figure out how to avoid having to rerun every test-model combination when only one has updated (using a file + checksum based on the source code of the test + the values of its parameters, or something like that; maybe using SQLite?)

[2014-03-30 04:21] cyrus- opened #16 "Caching strategy for model output"
Some sort of helper class with file-based memoization?

[2014-03-30 04:21] cyrus- opened #17 "Use DataTables plugin for generating the IPython table view"
https://datatables.net/index

[2014-03-30 04:22] cyrus- opened #18 "Make tests clickable in view"

[2014-03-30 04:22] cyrus- opened #19 "Make models, tests, and scores clickable in view"

[2014-03-30 04:22] cyrus- opened #20 "Make scores clickable in view"

[2014-03-30 04:23] cyrus- opened #21 "Make columns hideable and reorderable"

[2014-03-30 04:23] cyrus- opened #22 "Support ErrorScore in view"

[2014-03-30 04:24] cyrus- opened #23 "Support N/A score in suite judge code and view"

[2015-04-20 14:24] robclewley opened #25 "setup.py installation problems"
Installing on python 2.7, two issues arise:

1) Warning
/sw/lib/python2.7/distutils/dist.py:267: UserWarning: Unknown distribution option: 'install_requires'

2) Error:
error: package directory 'sciunit/test' does not exist

I think you mean to say sciunit.tests (plural) in setup.py

[2015-04-27 02:52] rgerkin commented on #25
Thanks, it should be fixed now.

[2015-04-27 02:52] #25 closed

[2016-03-16 20:58] rgerkin opened #28 "Add Pandas output for score matrices"

[2016-06-24 02:59] rgerkin opened #30 "Describe a .sciunit file for pointing to notebooks"
A .sciunit file in the root of a repository should point to the location of notebooks to be turned into .py files and run by Travis-CI or any other automated testing software.  This file should also be usable by some sort of sciunit.py script that would get installed with sciunit.

[2016-09-07 22:04] rgerkin opened #33 "Replace StringIO.StringIO with io.StringIO"
Sufficiently advanced versions of Python 2 (2.7?) can use io.StringIO, as can Python 3, so the old StringIO just causes problems, e.g. not having an __exit__ method.

[2016-09-22 23:01] rgerkin opened #34 "Travis post-test integration with S3"
Add hooks to sciunit command line tools so that when the tests are run on Travis-CI (or possibly more generally), the outputs (e.g. Jupyter notebooks, and possibly the entire environment) get dumped into Amazon S3 buckets.

[2016-09-22 23:39] rgerkin commented on #33
Fixed via bbf3be5

[2016-09-22 23:39] #33 closed

[2016-09-22 23:40] #30 closed

[2016-09-22 23:41] rgerkin commented on #30
Implemented via a number of commits

[2016-09-22 23:41] rgerkin commented on #28
Implemented

[2016-09-22 23:41] #28 closed

[2016-09-22 23:42] rgerkin commented on #17
Implemented

[2016-09-22 23:42] #17 closed

[2016-09-26 02:30] rgerkin opened #35 "Optimization via Approximate Bayesian Computation"
Implement ABC with BooleanScores to do optimization.

[2016-09-26 02:30] rgerkin opened #36 "Optimization via DEAP"
Use DEAP for model optimization

[2016-09-26 02:33] rgerkin opened #37 "Sumatra integration"
Use [Sumatra](https://github.com/open-research/sumatra) for managing and tracking simulations associated with test runs.  This would probably involve using the @capture decorator on the implementations of whatever functions run the model.

[2016-10-18 05:53] rgerkin commented on #36
See [here](https://github.com/russelljjarvis/sciunitopt) for progress

[2016-11-14 00:41] rgerkin opened #38 "dataTables javascript functionality broken in notebooks"
Fix the dataTables functionality so tables can be searchable and sortable again

[2016-12-10 08:47] rgerkin opened #39 "Add sciunit and its dependencies to scipy-notebook-plus"

[2017-04-03 06:21] rgerkin commented on #6
@cyrus-
[http://sciunit.readthedocs.io](http://sciunit.readthedocs.io)
I need to update all the docstrings to the preferred Sphinx format so that the auto-generated documentation fields get filled in better.  But this is a good start.

[2017-04-04 03:10] russelljjarvis opened #40 "Desired way to incorporate my specific Dockerfile contents into scidash/dockerstacks"
I need to find a way to include my DEAP[ build tweaks from my Dockerfile](https://github.com/scidash/neuronunit/blob/dev/neuronunit/tests/Dockerfile) into scidash/dockerstacks and then push this to docker hub, such that my travis builds run faster.

@rgerkin  I feel that you may have already added in some changes to docker-stacks, or that you may have created a fast work around that enables you to

[2017-04-04 04:10] russelljjarvis opened #41 "Trying to catch obscure math domain error."
I am trying to catch a certain math error that occurs not regularly but periodically as the GA samples different parameters on subsequent runs due to the PRNG.

I feel that the sanity_check method should be able to stop these math errors if it is done well. I am unsure if I am being too picky by throwing out cases when the membrane potential doesn't change at all (its derivative is full of zero's)

[2017-04-04 05:03] rgerkin commented on #41
@russelljjarvis
The rheobase can technically be negative, because for some model parameters the cell is spontaneously spiking and so one would have to inject negative current to quiet it down to 1 or 0 spikes.  So actually the lower bound on the current injected shouldn't be 0 it should be something like -200 pA.

I think your entire `nan_test` just be:
[code]
It will return `True` if x has any Na

[2017-04-04 05:57] russelljjarvis commented on #41
This is great! I love it when someone is able to reduce 30 lines of code to 3.

[2017-04-05 19:37] russelljjarvis commented on #41
This is still a problem. The stack trace is as follows:
[code]

[2017-04-05 20:19] russelljjarvis commented on #41
[code]

I have since found that this error occurs when the rheobase test acts on an absence of injected current. current injection 0Amps causes 1 spike, so it is fed in as a model prediction to the neuronunit Rheobase tests suite. I am guessing that the way the corresponding z-score is derived cannot deal with 0 as prediction argument.

[2017-04-05 20:43] rgerkin commented on #41
@russelljjarvis
The predicted value never appears in the denominator (in `RatioScore` or `ZScore`) so I don't see where that would produce a math error.  Other possibilities are the `sqrt` or `log` of negative number.  I think you got rid of the `math` module when you switched to my simpler code above that uses `numpy`.  So the `math` error must be from some other use of the `math` module.  The `s

[2017-04-05 22:29] russelljjarvis commented on #41
AOK. I decided to just exclude neuron models that have a 0Amp Rheobase current, as I need to concentrate on generating figures for the presentation. Your comment above will be very useful documentation for the occasion when someone is able to look at this again.

[2017-04-07 02:06] russelljjarvis opened #42 "Plotting best candidate solutions against idealistic waveforms."
Are you aware of if neuroelectro or aibs has a particular sweep_id for a rheobase current injection.

For the sake of the presentation I want to plot best, and worst candidate solutions against the idealised waveform.

When I expand out the observation object its full of scalar value for things like spike width, capacitance test, rheobase test etc, but I need a `v_{m}` as an observation for compar

[2017-04-07 16:51] russelljjarvis commented on #42
http://celltypes.brain-map.org/mouse/experiment/electrophysiology/318733871

[2017-04-08 02:03] russelljjarvis commented on #42
I have found a way to plot best versus worst candidates using this [file](https://github.com/russelljjarvis/neuronunit/blob/dev/neuronunit/tests/analysis.py)

Note that the worst candidates still correspond to a learned and evolved solution, so they are still better than the worst generated by exhaustive search.

![image](https://cloud.githubusercontent.com/assets/7786645/24824635/cd8afdb4-1bc3-11

[2017-04-10 17:17] russelljjarvis commented on #41
As you allude to above its line [208 of sciunit scores](https://github.com/scidash/sciunit/blob/dev/sciunit/scores.py#L208)

If Rheobase current injection is 0.0pA then Ratio scores sort key gets fed in 0.0 as an argument but it can't handle it.

I finally tracked down this bug
In regular ipython3:
[code]

An easy fix would be:
[code]
I think this captures the intended meaning, as math.log10(0.0)

[2017-04-12 21:13] russelljjarvis opened #43 "scaling linear sum of errors and sciunit error for score 0.0"
[Relating to this error too](https://github.com/scidash/sciunit/issues/41#issuecomment-291990921). I now believe the real problem was, if my rheobase search method didn't succeed in finding rheobase after 4 iterations it returned 0.0 instead of None. From outside the algorithm it looked like a value of 0.0Amps was found, but in fact nothing was found. Also the mistaken 0Amp return from the rheobas

[2017-05-23 00:28] #42 closed

[2017-05-23 00:31] russelljjarvis commented on #41
I am still seeing a related error to the one above, suggesting that the fix I proposed above is not a satisfactory solution.
An example of the stack trace is as follows:
[code]

[2017-10-02 19:00] rgerkin opened #45 "Optional weight array for TestSuite"
Every `TestSuite` should have its score determined by weighting the scores of the component tests.  Currently, the weights are all equal, so the total `TestSuite` score is simply the mean of the `sort_key` attributes of the component tests.

The attribute should be called `weights` and there should be possible to pass it as an argument to the constructor or to change it at anytime.  It should also

[2017-10-10 06:20] rgerkin commented on #45
Implemented in efda1ccb229d9039e2d20d5ef5dda61bff605c3c and others.

[2017-10-10 06:20] #45 closed

[2017-10-10 06:21] rgerkin commented on #43
@russelljjarvis Is this problem fixed now?

[2017-10-10 06:21] rgerkin commented on #40
Probably not relevant to sciunit per se.

[2017-10-10 06:21] #40 closed

[2017-10-10 06:22] rgerkin commented on #41
@russelljjarvis Is this problem fixed?

[2017-10-10 06:24] rgerkin opened #46 "Add coveralls support"

[2017-10-10 06:24] rgerkin commented on #46
Added in 72d7499231ebb98a881e5295ac0b1d1e8b3ead45

[2017-10-10 06:24] #46 closed

[2017-10-11 05:19] #6 closed

[2017-10-11 05:19] #7 closed

[2017-10-11 05:19] #13 closed

[2017-10-11 05:20] #14 closed

[2017-10-11 05:21] rgerkin commented on #36
More of a domain-specific implementation.  For now the Model class will have an optimize method that can be implemented in specific Model subclasses.

[2017-10-11 05:21] #36 closed

[2017-10-11 05:21] rgerkin commented on #39
Not sure why I wanted to do this.  There is already a scidash/sciunit notebook for this.

[2017-10-11 05:21] #39 closed

[2017-10-11 06:19] rgerkin commented on #16
I am leaving a lot of this for domain-specific implementations, but otherwise cypy.memoize works pretty well (mirrored in sciunit.utils.method_memoize) and also sciunit.utils.method_cache, which allows calls to one method to use the cache for another method.

[2017-10-11 06:19] #16 closed

[2017-10-11 06:21] rgerkin commented on #15
I am leaving some of this for domain specific implementations.  Otherwise sciunit.utils.method_cache and sciunit.utils.method_memoize (cypy.memoize) should work fine for this.  I am going to look into the possibilty of porting the NeuronUnit MemoryBackend and DiskBackend implementations to SciUnit, but I'm not sure how I can make them completely generic since what corresponds to cachable Model att

[2017-10-11 16:43] rgerkin opened #49 "Add serialization methods to SciUnit base class"
Add wrappers for json.dumps, pickle.dumps, etc.

[2017-10-12 21:25] rgerkin opened #50 "sciunit.utils needs a general module importer (from a path)"
Something like:
[code]

[2017-10-12 22:11] #41 closed

[2017-10-12 22:12] #43 closed

[2017-10-13 04:23] rgerkin commented on #18
Duplicate of #19

[2017-10-13 04:23] #18 closed

[2017-10-13 04:23] rgerkin commented on #20
Duplicate of #19

[2017-10-13 04:23] #20 closed

[2017-10-13 04:23] rgerkin commented on #19
@cyrus- What do you mean by "clickable"?  Where do you want the click to lead?

[2017-10-13 04:29] rgerkin commented on #23
Implemented a while back.

[2017-10-13 04:29] #23 closed

[2017-10-24 20:16] rgerkin commented on #50
Implemented in 52719adb53f7ae66649375a92baa24d037170575

[2017-10-24 20:16] #50 closed

[2017-10-24 20:23] rgerkin opened #51 "Refactor score color map to use a config file"
Refactoring score color mapping into a utility that is shared between SciDash web-app and SciUnit library (possibly codify into a json that we share that gets produced when there are changes).  See line 617 in __init__.py for current implementation of color mapping.

[2017-10-30 17:50] rgerkin commented on #49
See also Metacell/geppetto-scidash#21

[2017-10-30 18:05] rgerkin opened #53 "Git repository details automatically added to every object"
Put the commit # and origin of the current working copy into every model/test/capability created from a python session inside that working copy.

[2017-10-30 21:08] apdavison commented on #53
You've probably already got something in mind for this, but here's some code I wrote previously which does some of this:
[code]

[2017-10-30 21:21] rgerkin commented on #53
That's great!  I'll use it.

[2017-10-30 21:24] rgerkin opened #54 "Formula for NEURON + Python3 support on OSX"
Following up on my instructions [here](https://www.neuron.yale.edu/phpBB/viewtopic.php?f=4&t=3765) in the NEURON forums, I am making a repository [here](https://travis-ci.org/rgerkin/neuron-python3-miniconda) with the sole purpose of testing NEURON wth Python 3 on OSX.  It will probably be awhile before that shows a working formula.

[2017-10-31 03:53] rgerkin commented on #54
Implemented [here](https://github.com/rgerkin/neuron-python3-miniconda).

[2017-10-31 03:53] #54 closed

[2017-11-01 05:30] rgerkin commented on #53
Implemented in 648c2d30e79f33c87389c165d358504815c38480

[2017-11-01 05:34] rgerkin commented on #49
Finished in d2b6643260d6ec082f8a67dca74bb42bf49b9dcf and examples shown in [this](https://github.com/scidash/neuronunit/blob/master/neuronunit/unit_test/serialization_test.ipynb) notebook.

[2017-11-01 05:34] #49 closed

[2017-11-01 08:56] apdavison commented on #53
Note that this gives you the commit # but not the repository origin

[2017-11-03 21:51] rgerkin commented on #53
Remote URL support added.  See [here](https://github.com/scidash/sciunit/blob/master/sciunit/unit_test/core_tests.py#L484) for a complete example.

[2017-11-03 21:51] #53 closed

[2017-11-03 22:13] rgerkin commented on #15
NeuronUnit now has caching in its parent Backend class, handled in such a way as to avoid using a cached result if a backend (i.e. a simulator) changed, since in that case you might not want to rely on the old result.

[2017-11-04 04:40] rgerkin commented on #37
@apdavison Do you have any thoughts on this?

[2017-11-04 17:06] apdavison commented on #37
I'll have a think and get back to you.

[2017-11-04 17:46] apdavison commented on #37
First thought is that you would want to capture not only the simulation, but also any data analysis and score calculation steps, so `Test.judge()` is perhaps the place to put this. On the other hand, I imagine the different stages of a test could run on different (local or remote) machines, so perhaps they should be instrumented separately.

[2017-11-04 19:46] rgerkin commented on #51
Implemented in 482ade01547d41cae4a1140a0fb9048cfc657337

[2017-11-04 19:51] rgerkin commented on #51
@gidili We discussed this in the Google Doc.  I've added a config.json file in sciunit, which you can now load values from via `sciunit.config_get(key)`.  Setting values in the file will be done manually for the time being.

First use case for this is making the color mapping flexible in `sciunit.Score.color()`, which now uses this config file to get colors.  Let me know if you have other ideas be

[2017-11-05 09:37] gidili commented on #51
Hi @rgerkin I think this is great and exactly what we talked about 👍 scidash can read the json straight from github or worst case we mirror it somewhere else because sometime GitHub is slow for reading files like that, but regardless this will be most useful ! Thanks

[2017-11-06 21:47] rgerkin commented on #22
ErrorScore showd up as "Error" in the ScoreMatrix view.

[2017-11-06 21:47] rgerkin commented on #22
ErrorScore tooltip now shows error message (376b8682502707a300c9189ee5964044eddf9d99)

[2017-11-06 21:47] #22 closed

[2017-11-06 21:48] rgerkin commented on #38
This appears to work as long as ScoreMatrix has `sortable=True` set.

[2017-11-06 21:48] #38 closed

[2017-11-07 08:06] rgerkin commented on #21
This is not easily solved with DataTables extensions because newer versions of DataTables are incompatible with Jupyter.  This should instead be implemented as a Jupyter Widget.

[2017-11-20 20:15] rgerkin opened #62 "Serialized output should include nested objects"
For example, the serialized version of a score should include a serialized version of the test and the model.  Then it would match the content that MetaCell needs.  See MetaCell/geppetto-scidash#26.

[2017-11-23 18:08] russelljjarvis opened #63 "Parallel reading of neuroelectro.dir, bak, cache still problematic on big runs."
On bigger runs, the probability of a read not succeeding is greater. In theory parallel read should be fine, but there is something intrinsically not parallel friendly about the neuroelectro caching methods.

Parallel reading of neuroelectro.dir, bak, cache still problematic on big runs.

Ideally tests from get_neab should be pickable then it can be performed just once on only one CPU and then pus

[2017-11-27 21:25] rgerkin commented on #63
Are you able to duplicate the failure using some very simple test that involves reading from a shelved (the current neuroelectro cache implementation) file several thousand times, with a parallel read eventually failing?  If so, we could modify that test with different caching implementations (e.g. various pickle libraries, databases, json, etc.) and see if one of them does not fail, and then swit

[2017-11-28 21:57] russelljjarvis commented on #63
Okay I will try what you have suggested here.

[2017-11-30 01:18] russelljjarvis commented on #63
I am finding that neuroelectro the website is down (confirmed both programatically and by pointing my browswer at the URL), the state of neuroelectro being down has motivated me to work on this issue, since at the moment I can't develop unless I can load the pickled version of the file, and I think it would be neater if it was read by one CPU and transmitted to the others.

While I have not yet ma

[2017-11-30 01:55] russelljjarvis commented on #63
So although I could push to workers okay, I found that I couldn't pull even really simple dictionaries. I factored cloud pickle out, and noticed that, that can make a critical difference, since we are no longer trying to pickle NU models, we probably no longer need cloud pickle anyway.

[code]
[code]

[code]
exit and restart ipython:
[code]
[code]
[code]

[2017-12-06 17:18] gidili opened #64 "Add score_key and score_type to score json serialization"

[2017-12-06 21:42] rgerkin commented on #64
@gidili
See the dev branches of [sciunit](https://github.com/scidash/sciunit/blob/dev/sciunit/__init__.py#L126) and [neuronunit](https://github.com/scidash/neuronunit/blob/dev/neuronunit/unit_test/serialization_test.ipynb) for the new implementation.

Because the attributes you requested are actually properties (methods with the property decorator), they do not actually represent the state of the

[2017-12-07 12:02] gidili commented on #64
Thanks @rgerkin I see in the new example that sort key (`'sort_key': 0.7388826803635273,`) and score class (`'_class': 'ZScore'`) are coming up for the score serialisation when `add_props=True` 👍

Also we had talked about adding model class info and test class info to the serialized object and I see that those are also coming up with the add_props flag set to to true as follows:

- `'model': {'_cl

[2017-12-14 15:54] rgerkin commented on #64
It looks like we will need to expand the `model` field to something like:
```'model': {'_class': {'name': 'ReducedModel', 'url': 'url_string', 'version', 'hash_string'}}```

[2017-12-14 16:26] gidili commented on #64
And the same for test class, right?

Sorry I meant to write a recap of our chat yesterday night but I forgot I had to pack as I’m traveling till Sunday.

[2017-12-14 16:27] rgerkin commented on #64
Yes, that too.  I just wanted to put something down here before I forgot.

[2017-12-18 22:49] rgerkin commented on #64
![](https://github.trello.services/images/mini-trello-icon.png) [Metacell](https://trello.com/c/pg461sPp/1-metacell)

[2018-01-16 19:37] rgerkin commented on #63
@russelljjarvis What is the current status of this?

[2018-01-16 23:13] russelljjarvis commented on #63
This issue consists of two related sub-issues.

Neuroelectro reading may still be a problem.

Issue 1.
 For a while, calls to the neuroelectro API were giving 'server-down' exceptions. I don't know if that has changed. To make the ipython notebook that I showed you in the lab I disabled web downloading, and went straight to reading from cached values, as I have no control over the neuroelectro ser

[2018-01-17 20:27] rgerkin commented on #63
The neuroelectro API is a separate issue but is currently working.  In your current IPyParallel version of the code, are you still getting failed reads of the cache file (even though you are reading it less often now)?

[2018-01-19 20:59] rgerkin opened #65 "Add RRID to sciunit page (github and scidash.org)"

[2018-01-22 18:30] russelljjarvis commented on #63
No. I don't think I am still getting failed reads.

[2018-01-22 18:30] #63 closed

[2018-01-23 20:51] rgerkin opened #66 "MRO exception if overlapping capabilities are provided"
If redundant capabilities are provided (e.g.` neuronunit.capabilities.ProducesMembranePotential` and `neuronunit.capbilities.ProducesActionPotentials`, which overlap because the latter is a subclass of the former), an MRO exception will be thrown.  To avoid confusing the user, the `__new__` method of the sciunit.Model class should have a check for this, and instructions for removing one of the ove

[2018-02-06 21:09] rgerkin commented on #66
This exception is thrown on creation of the class, even before it is instantiated, so there is really no way to catch it.

[2018-02-06 21:15] rgerkin commented on #65
Implemented in 4dcdd400cc0dafa1bc9c6f44e9913ca95b3593fb and scidash/scidash.github.io@8ff49e08a237658114b447ae648cbe046685ed7b

[2018-02-06 21:15] #65 closed

[2018-02-06 21:17] rgerkin commented on #64
Implemented in 5467d6ce58dedf32771437d8883595fb86b9092f and in code related to MetaCell/geppetto-scidash#30

[2018-02-06 21:17] #64 closed

[2018-02-06 21:19] rgerkin commented on #62
Implemented in 5467d6c and in code related to MetaCell/geppetto-scidash#30

[2018-02-06 21:19] #62 closed

[2018-02-06 22:32] rgerkin commented on #19
Will be implemented as part of the SciDash web portal (soft release within ~3 months).  Not much need for this in the notebooks themselves (where would the click lead to?)

[2018-02-06 22:32] #19 closed

[2018-02-06 22:35] rgerkin opened #68 "More extensive API docs on RTFD"
The API docs could use some explanatory pages before diving right into function references.

[2018-02-06 22:40] #15 closed

[2018-02-27 16:11] rgerkin opened #69 "Change sort_key to normalized_score"

[2018-04-25 18:57] gsarma opened #70 "pip 10 breaks setup"
See https://github.com/openworm/tests/issues/11

[2018-05-04 04:34] rgerkin commented on #70
@gsarma Can you provide the exact error message?

[2018-05-04 21:55] rgerkin opened #71 "Kitematic Configuration"
Make a configuration to allow Kitematic to use a sciunit jupyter-stacks-based container so that people can just launch a sciunit-enabled Jupyter notebook server with no additional configuration.

[2018-05-11 23:31] rgerkin opened #72 "New attributes for expected keys/dimensions of observations"

[2018-05-11 23:32] rgerkin opened #73 "New Model class attributes for expected parameters passed to model constructors"

[2018-05-16 15:51] gsarma commented on #70
Can this be closed?

[2018-05-16 15:54] gsarma opened #75 "Reduce sig figs for Coveralls"
Right now Coveralls uses 5 significant digits or something like that, which means that new pull requests don't pass the tests even if there is a minuscule drop in coverage.  Can we change this to just use whole number values and maybe set the threshold to 2-5%?

@rgerkin

[2018-05-16 16:31] rgerkin commented on #75
Is that an option in the documentation?  I don't really worry about coverage changes on PRs, anyway.

[2018-05-16 16:31] #70 closed

[2018-05-23 19:53] russelljjarvis opened #76 "In a docker context, cannot install sciunit, because of failed quantities roll-back"
The [Dockerfile](https://github.com/russelljjarvis/neuronunit/blob/dev/Dockerfile) rightfully inherits from russelljarvis/neuronunit

Below is the stack trace:

Cannot install sciunit, because of failed quantities roll-back
Removing intermediate container c980ab2ab55a
Step 10/18 : RUN /opt/conda/bin/pip install git+https://github.com/scidash/sciunit@dev
 ---> Running in 2093e3188315
Collecting git

[2018-05-23 20:46] russelljjarvis commented on #76
Installing quantities using pip+git seems to fix the issue.
[code]

[2018-07-02 17:18] gidili opened #79 "New method on suite to check capabilities of models against tests"
- [x] new method on suite called `.checkCapabilities`
- [x] will take as input a list model classes (or model instances)
- [x] Jupyter notebook example of how to load classes from module_paths and how to call suite.check with these

[2018-07-09 10:01] rgutzen opened #80 "local storing of test predictions"
Model predictions may be costly to compute and in some cases, they are recomputed multiple times. For example for testing against multiple data sets or for visualizations. Therefore, it would be useful to do the computation only the first time `generate_prediction()` is called and else recall the prediction from storage.

A very quick fix would be to generate a random hash upon test initialization

[2018-07-09 10:17] rgutzen opened #81 "passing test parameters to score_type.compute()"
Many implementations of scores have their own parameters, for example for setting the significance level, a bin size, or whether or not to exclude NANs, but per default, there is no way to pass such parameters to the score.
This could be integrated by simply passing the test parameters also to `compute_score()` (pro: score and test can make use of the same parameters; contra: potential for conflic

[2018-08-01 06:07] rgerkin opened #82 "HTML rendering of ScoreMatrix doesn't work if models or tests are duplicated"
If the ScoreMatrix has duplicate models or tests, e.g.:
[code]
Then the score matrix will not render correctly in Jupyter because when it tries to extract one column or row it ends up extracting a DataFrame instead because there are multiple matching values (and hence no reduction of dimensionality).

[2018-08-06 04:00] rgerkin commented on #79
Example notebook in rgerkin/scidash-api@12dd8c7126f0215389bbaa6cd9549fc35ecd88a6.  Use latest sciunit dev branch.

[2018-08-06 04:00] #79 closed

[2018-08-08 05:09] rgerkin commented on #80
@rgutzen
We have something like this implemented in NeuronUnit.  If you take a look at [this](https://github.com/scidash/neuronunit/blob/dev/neuronunit/unit_test/cache_use.ipynb) notebook you can see how it works.  The cache itself is stored in a Backend class, and there are various backends to choose from when instantiating a NeuronUnit model (jNeuroML, NEURON, etc.)  It is implemented this way w

[2018-08-08 05:25] rgerkin commented on #81
@rgutzen
The way we have implemented these sorts of score manipulations is via "converters" which automatically get applied after `compute_score` is run during the `judge` phase.  See [here](https://github.com/scidash/sciunit/blob/00475f153f63c8fc5eb187757531144c72f452f5/sciunit/tests.py#L156) for the entry point.  The converter is a class from [here](https://github.com/scidash/sciunit/blob/dev/sc

[2018-08-08 17:01] rgerkin commented on #72
Use [cerberus](https://github.com/pyeve/cerberus/) for validation.  Other examples from scidash-api [here](https://github.com/MetaCell/scidash-api/blob/master/scidash_api/validator.py).

[2018-08-10 05:36] rgerkin commented on #75
I increased the threshold for coveralls to report a failure, from any decrease > 0% to only decreases > 0.5%.

[2018-08-10 05:36] #75 closed

[2018-08-10 05:38] rgerkin commented on #69
Changed `sort_key` to `norm_score` in 218bccd4cc31d1dd3ad9ccd2e509c198496a105c

[2018-08-10 05:38] #69 closed

[2018-08-10 05:41] rgerkin commented on #72
Implemented in 3f9244033956e8240f693e86ecfb8aa21f98b261.

[2018-08-10 05:41] #72 closed

[2018-08-10 05:42] rgerkin commented on #73
Can be achieved via cerberus validation similar to what was done for observations in 3f9244033956e8240f693e86ecfb8aa21f98b261.

[2018-08-10 06:34] rgerkin opened #84 "Make all docstrings Sphinx readable"
This will allow the auto-generated API documentation to contain more information.

[2018-08-13 05:11] rgerkin opened #85 "Move based Backend and RunnableModel to SciUnit"
These are currently in neuronunit but there is nothing neuroscience specific to them so they should be available to sciunit users as well.  Would implement the request in #80.

[2018-08-21 22:38] rgerkin commented on #85
Implemented in 94b72eced7b4a96828d44970e4faf19f937a9460

[2018-08-21 22:38] #85 closed

[2018-08-21 22:39] rgerkin commented on #80
@rgutzen I have moved this into SciUnit so you could try it out.  All you would have to do it create your own Backend class that derives from `sciunit.models.backends.Backend`.  Let me know if you want more details.

[2018-08-21 22:39] #80 closed

[2018-09-19 18:06] JustasB opened #86 "Consider moving validate_observation to .judge() to accommodate observation-free tests"
Currently, the observation passed into a test constructor is validated in Test.__init__()

https://github.com/scidash/sciunit/blob/dev/sciunit/tests.py#L34

However, in cases where a model does not have observations to compare against (e.g. many in the NML-DB), the validation fails if no observation is included in the constructor (I still use the test to generate the prediction, I just don't judge

[2018-09-19 18:29] JustasB commented on #86
This would also allow chaining of tests, where the results of a simpler test(s) could be used in the prediction of a more complex test.

[2018-09-19 18:59] rgerkin commented on #86
@JustasB
So basically you want to be able to call `generate_prediction` only?

Have you seen the `TestM2M` class?  This allow for test with no observations.  Maybe there would be some way to combine these ideas.

[2018-09-19 19:55] JustasB commented on #86
Yes

I see what you mean.  I'm not sure that the tests I'm building will never have observations though. I think I'm just looking for a way to make the observations optional in general up until they're absolutely needed, e.g. by judge()

[2018-09-19 20:01] rgerkin commented on #86
OK, I'll make a branch and test this possibility against a bunch of other stuff in NeuronUnit.

[2018-09-19 20:02] rgerkin commented on #86
Actually, maybe you can make it @JustasB and forge ahead using that and let me know how it goes.  I'll test it later.

[2018-09-19 21:32] JustasB commented on #86
ok sounds good. what do you use to run the unit test suite?

[2018-09-19 21:42] rgerkin commented on #86
The `test.sh` script in the root directory, which basically wraps `python -m unittest`.

[2018-09-19 21:42] rgerkin commented on #86
Same thing for neuronunit.

[2018-09-19 21:46] JustasB commented on #86
got it. will use that for test for breakage

[2018-09-19 21:49] JustasB commented on #86
Does neuronunit/test.sh work for you now? I get this:

[code]

[2018-09-19 21:53] JustasB commented on #86
sciunit/test.sh works

[2018-09-19 22:00] JustasB commented on #86
I think AIBS changed the API. The threshold is now under: cmd[u'ephys_features'][0][u'threshold_i_long_square']

[2018-09-19 22:08] JustasB commented on #86
That was it. Test.sh runs fine with the above fix.

[2018-09-20 00:40] rgerkin commented on #86
@JustasB Did you make a branch for it or just put it in dev?

[2018-09-20 00:49] JustasB commented on #86
Just in dev

[2018-10-04 00:29] russelljjarvis opened #87 "pip install broken again."
Is there a way to pip install sciunit@dev, that satisfies `pip._vendor.requests`?
[code]

[2018-10-04 00:39] russelljjarvis commented on #87
Related issue, but with no resolution:
https://github.com/pypa/pip/issues/2345

[2018-10-04 17:59] rgerkin commented on #87
Related to broken python installations.

[2018-10-04 17:59] #87 closed

[2018-12-07 22:40] rgerkin opened #89 "Add satisficing score converters"
Add score conversions that have a Boolean like nature, but softer, so the optimizer can still find it's way into the "good enough" region.

[2019-01-09 04:50] rgerkin opened #91 "Add "Open in Colab" badge to README"
Google Colab now allows arbitrary notebooks to be opened in an interactive Colab session, e.g. see the badge [here](https://github.com/jakevdp/PythonDataScienceHandbook)

[2019-01-09 04:59] rgerkin opened #92 "Fix logos on README"
Use new SciUnit logo from the SciDash website.

[2019-01-29 23:45] rgerkin commented on #92
Done in 7a4f6c943a43de37f8cb88607ef96c54b6f081fc.

[2019-01-29 23:45] #92 closed

[2019-07-01 15:21] rgerkin opened #101 "New pypi release"
@appukuttan-shailesh
Can you pull the dev branch of sciunit and see if there is anything that isn't working for you?  If there are, please open issues here, and once everything is resolved I will tag a new release on pypi.

[2019-07-03 16:30] appukuttan-shailesh commented on #101
I ran a few of our UseCases yesteday and today with the SciUnit dev branch, and everything was running fine. I think we are good to go for the next release. I will run the entire batch of validations in the coming days (after the release) and report if I find any issues.

You had mentioned that several new features had been implemented towards this release. I have been tracking some of these here

[2019-07-05 16:38] rgerkin opened #102 "Call map"
Create a map of function calls:
[code]

[2019-07-05 18:12] rgerkin commented on #101
@appukuttan-shailesh The new release is [here](https://pypi.org/project/sciunit/0.2.1/) and the release notes are [here](https://github.com/scidash/sciunit/releases/tag/0.2.1).

[2019-07-05 18:12] #101 closed

[2019-11-06 14:52] rgutzen opened #109 "Optionally computing only a subset of the score matrix in M2M tests"
M2M tests produce score matrices of the size N, where N is the number of models passed to the judge function. In many cases, this matrix contains redundant information (when the type of score is symmetric) and irrelevant information (comparing models to themselves). Thus, an optional argument to the judge function, selecting only a certain combination of models to be compared can streamline the va

[2019-11-06 17:09] rgerkin commented on #109
Do you think you will just want to calculate the lower triangle of the matrix (without the diagonal), or will it be important to pick specific locations in that lower triangle?  In the example above, you omit (1, 2), which would mean it would be slightly faster than doing the whole lower triangle.

[2019-11-07 07:33] rgutzen commented on #109
The most common case would definitely be to select the lower triangle. Another usual scenario that comes to mind is to compare one model (or observation) to many others, but not compare between them. However, this scenario is equivalent to calling the judge function multiple. Thus, the option to select the lower triangle would suffice for now, as more complex combinations of comparisons can then b

[2019-11-22 19:06] rgerkin commented on #109
@rgutzen
I've added this in the dev branch in 73fc350f6fb9504e3655fd7fe254e1679fa9f6d4, and [here](https://github.com/scidash/sciunit/blob/dev/sciunit/unit_test/test_only_lower_triangle.ipynb) is a demo.

When the `only_lower_triangle` kwarg is set to `True` in `TestM2M.judge`, It computes only the lower triangle (oops, maybe it is the upper triangle... I'll change the name later).  It copies thos

[2019-11-23 18:19] rgerkin opened #110 "Add key-based lookup of Tests in TestSuites"
We would like to be able to do this:

[code]

And have it print `True, False` since `x` refers to `test1` (with name 'smith') and not to `test2`. So this will be basically equivalent to the TestSuite being a dictionary, as long as the keys you want to use are set as the test names.

[2019-11-23 18:19] rgerkin commented on #110
Implemented in deb589dd706567a26481de1b9928a982815ff092.

[2019-11-23 18:19] #110 closed

[2019-11-24 02:30] russelljjarvis commented on #110
Good to see. I think this will improve productivity in downstream code.

[2019-11-26 08:50] rgutzen commented on #109
That's great, thanks! Also, the `_best` and `_worst` attributes for Scores are a very helpful addition.

[2019-11-26 18:47] #109 closed

[2019-12-02 17:58] rgerkin commented on #84
@appukuttan-shailesh This is the issue I was referring to in the call.  We can coordinate here unless you have an open issue that you would prefer to use.  I guess the first thing to do is coordinate on a docstring format?  What does HBP use internally?

[2019-12-03 18:15] appukuttan-shailesh commented on #84
@rgerkin : Sure, we can use ticket this to coordinate our ideas.
The HBP doesn't enforce a particular format, but we have generally employed **[_numpydoc_](https://numpydoc.readthedocs.io/en/latest/format.html)** docstring format. I tend to prefer it as  '_NumPy style tends be easier to read for long and in-depth docstrings_' ([source](https://www.sphinx-doc.org/en/master/usage/extensions/napoleon

[2019-12-04 19:17] rgerkin commented on #84
What do you mean by "streamline the documentation of sciunit based validation test units."

I prefer [Google docstring style](https://sphinxcontrib-napoleon.readthedocs.io/en/latest/example_google.html) -- do you think it will be important that we all use the same format?

Would it be helpful to use [type hints](https://mypy.readthedocs.io/en/latest/cheat_sheet_py3.html#functions)?  I could imagin

[2019-12-09 08:35] appukuttan-shailesh commented on #84
My intention is to have a Sphinx extension managing SciUnit entities such as Capabilities, Test, Test Suites, Models, Scores etc by adding SciUnit specific 'directives'. For lack of a better example at the moment... something similar to [sphinxcontrib.httpdomain](https://sphinxcontrib-httpdomain.readthedocs.io/en/stable/) that make it simpler and more efficient to document REST APIs.

I don't thin

[2019-12-10 01:59] rgerkin commented on #84
On Thursday we will have a lab hackathon and one or more of us will work on updating our docstrings.  There are also some attributes that could be used with some of the directives you propose, for example I have attributes for `observation schema` (defines what the observation should look like), `params_schema` (defines what kind of parameters the test can use) and `default_params` (default values

[2019-12-10 02:00] rgerkin commented on #84
@appukuttan-shailesh If you aren't doing anything late Thursday (in your time zone; we will start Thursday morning in ours) you should join us.

[2019-12-10 09:13] appukuttan-shailesh commented on #84
Sounds interesting! Can you tell me about the schedule for Thursday? We are in the middle of pretty disruptive transportation protests here in Paris, and so very few options for commuting to work. It gets particularly bad on the way back. So I will try to join in, maybe atleast for a bit, based on the timing.

[2019-12-10 18:07] rgerkin commented on #84
We will be working from 9am-4pm in our time zone, which is 5pm-midnight for you.  No set schedule yet, as we usually focus on a few issues (like this one) and discuss them and then start working.  If you are around near the beginning maybe we could have a Skype or Hangouts call to discuss.

[2019-12-11 08:48] appukuttan-shailesh commented on #84
Sure, sounds good! I think I can be around for the first 1-1.5 hours at the least. We could use hangouts like for our Monday conference calls.

[2019-12-12 17:05] appukuttan-shailesh commented on #84
Jotting down my thoughts on this...

We have a page each for the following (taking neuronunit as example):
- all tests
- all capabilities
- all scores

Each **test** entry should link to its associated entries on the capabilities and scores pages. E.g.
![image](https://user-images.githubusercontent.com/24866517/70732853-7dc20580-1d09-11ea-80b3-4c1f4f94a7c0.png)

We should draft a minimal doc schem

[2019-12-18 04:49] rgerkin commented on #84
@appukuttan-shailesh @ChihweiLHBird
Shailesh, allow me to introduce Zhiwei, who was sitting with me during our call at the hackathon.

So my current understanding, based on the last HBP call, is that you intend to build a sphinx extension which will create new docstrings from a combination of A) original docstrings in the .py files and B) automatic analysis of attributes, methods, etc. of the corr

[2019-12-18 13:45] appukuttan-shailesh commented on #84
That's a good idea. I agree that the above setup will help in identifying what needs to be documented, and also how and where.

You are correct about:

But after exploring a bit, I think we might infact not have to undertake the more arduous task of developing a Sphinx extension, but rather can use the concept of `metaclass` in Python to achieve the same. Andrew has used this recently for another

[2019-12-18 13:57] appukuttan-shailesh commented on #84
Creating a separate post to classify the documentation bits into categories you proposed above.

**Type A:** Things that must go into the original docstring, because only humans could write them (e.g. plain language descriptions of things).

**Type B:** Things that should go into the original docstring (even though they can be computed from code), because developers deserve to see them while brows

[2019-12-24 01:38] appukuttan-shailesh commented on #84
I haven't been able to make complete this task before going on holidays, and so might have this delayed by a couple of weeks. But I have been able to implement a dummy proof of concept of what is required, so I am confident of having it implemented for our particular use case quite soon.

Alongside, I have developed a very early stage documentation for our 'hippounit' package:
https://hippounit.re

[2019-12-24 02:01] ChihweiLHBird commented on #84
Of course, I will try to undertake the classification task discussed earlier, but I am still trying to understand many parts of this project.

[2020-01-06 15:48] ChihweiLHBird commented on #84
My understanding is that entities are including classes, methods, and variables? Am I correct?

[2020-01-07 19:14] rgerkin commented on #84
@appukuttan-shailesh Could you point me to an example of the metaclass as used to generate documentation?  Maybe in hippounit?

@ChihweiLHBird The entities here are all SciUnit classes: Shailesh mentioned `Test`, `Score`, `Capability` (all of which are classes defined in sciunit, and which, at least in the last 8 months or so, all inherit from the base class [sciunit.SciUnit](https://github.com/sc

[2020-01-09 16:47] ChihweiLHBird commented on #84
What about the class inherit from `Test`, `Score`, `Capability`, and `Model`? Are they entities?

[2020-01-09 17:47] rgerkin commented on #84
@ChihweiLHBird Yes, all classes that inherit from those are the ones that we want to document.

[2020-01-09 23:51] rgerkin opened #115 "Add log_norm_score"
Add `Score.log_norm_score` to support russelljjarvis/NeuronunitOpt#40.  This is just the log (or should it be log10?) of `Score.norm_score`.

[2020-01-13 18:02] rgerkin commented on #115
Added in 84bd62c26fab48b3a8c353d91d4fdc4d4f88bd59.

[2020-01-13 18:02] #115 closed

[2020-01-21 23:18] rgerkin commented on #84
@appukuttan-shailesh I agree with your categories (Type A-D and unclassified).  I'm not certain which things below where yet, but I believe we can build the infrastructure around the need to support those types.  Where does that stand?

[2020-01-24 15:29] appukuttan-shailesh commented on #84
@rgerkin, @ChihweiLHBird : Just got back to work today. Wasn't able to devote any time to this while on break. Shall provide an example of using the metaclass to generate documentation early next week.

[2020-01-27 06:34] rgerkin opened #118 "Proposed: Deprecate Python 2.7"
See [here](https://www.python.org/doc/sunset-python-2/) for motivation.

[2020-01-27 23:16] rgerkin opened #119 "Add reasons for insufficiency to __str__ of InsufficientDataScore"

[2020-01-27 23:46] rgerkin commented on #119
Implemented in 4ac6465d4ff4c7056215d68addc73af3f29d22b4.  @russelljjarvis

[2020-01-27 23:46] #119 closed

[2020-01-28 04:13] rgerkin opened #120 "Bump Python 3 versions for testing in Travis"
Remove 3.5 and add 3.7 and 3.8

[2020-01-28 04:30] rgerkin commented on #120
Implemented in c25f44fdfa494839a322204098bdaba68a2aff99 but 3.5 retained.

[2020-01-28 04:30] #120 closed

[2020-01-31 05:09] russelljjarvis opened #125 "sciunit ScoreArray does not have an iterable .items() method/attribute."
Meaning that you can't iterate over keys and values very naturally.
sciunit ScoreArray does not have an iterable .items() method/attribute.
[code]

[2020-01-31 19:20] rgerkin opened #126 "Change return NotImplemented to raise NotImplemented"
in capabilities.py, etc.

[2020-01-31 19:47] rgerkin opened #127 "Add empty backend (sciunit generic backend) to available_backends on sciunit import (or models import)"

[2020-02-04 04:54] rgerkin commented on #118
Paging the executive committee: @JustasB @appukuttan-shailesh @scrook @cyrus- @rgutzen @apdavison @gidili @rgerkin
Could you vote here on this issue (thumbs up emoji for yes, thumbs down emoji for no, "meh" emoji for not sure).

[2020-02-04 23:46] rgerkin commented on #126
Implemented with many other related in improvements in ad1bde6e91f8c545caa8b007b5b5573a48fa1756

[2020-02-04 23:46] #126 closed

[2020-02-05 00:01] rgerkin commented on #125
@russelljjarvis
This should work (with no additional changes):
[code]
`TestSuite.judge` always returns a `ScoreMatrix`.  Now slice a `ScoreArray` out of it, and iterate over its items.
[code]
Alternative, construct a new `ScoreArray` from scratch (here I use the old `ScoreArray`s values for convenience, but any scores will do, as long as they are `Score` objects.
[code]
And you can iterate over it

[2020-02-05 00:01] #125 closed

[2020-02-05 00:12] rgerkin commented on #127
Implemented in a300378.

[2020-02-05 00:12] #127 closed

[2020-02-05 01:32] russelljjarvis commented on #125
Okay, i have updated code so I slice an array out of the matrix.

[2020-02-05 02:41] russelljjarvis opened #128 "if score is None, score.log_norm_score can't evaluate."
If not present already, sciunit needs some kind of internal case handling for score is None, when trying to compute the lognorm of the score. This is to help None scores propogate through Sciunit/Neuronunit/ and optimizer code.

In the example code None score protection/testing should possibly be moved into NU internals.
[code]
https://github.com/russelljjarvis/NeuronunitOpt/blob/master/neuronunit

[2020-02-05 04:43] rgerkin opened #129 "Update readthedocs to have an overview and tutorial sections"
Currently it is just API docs, and the overview and tutorials are distributed through GitHub and the project site.  They should also appear in the readthedocs site with the auto-generated API documentation.  Several .rst files will need to be created.
@ChihweiLHBird

[2020-02-05 04:49] rgerkin commented on #128
@russelljjarvis What values would be acceptable?  I believe it currently gives -Inf, which is the right answer.  There is no way to guarantee an smooth, monotonic, sloped error gradient across all possible values of the score, but if you are willing to accept a flat gradient at very extreme values, then I could just clip it to something like [1e-99, 0] instead of [-Inf, 0].  So let me know if the

[2020-02-05 06:39] ChihweiLHBird commented on #129
Can they (.rst files) be automatically generated by sphinx? Or I should create them manually?

[2020-02-05 11:25] russelljjarvis commented on #128
It's not so much about the gradient, but more just sciunit score throws error when it raw_score is zero and it tries to compute log_norm. I think the intended value is neg infinity.

I will keep checking perhaps the problem is only on my end.

[2020-02-05 15:58] rgerkin commented on #129
These will need to be created manually (or from a tool that converts markdown files (.md) or html to .rst).  Some good starting point for the source material would be:
- The README.md at the root of this repository
- The html output of any of the notebooks in the /docs directory of this repository
- The content of http://sciunit.io/sciunit.html
If one or more of the above could be at the main page

[2020-02-05 16:06] rgerkin commented on #128
It's possible this was a problem earlier and is now fixed, because in this example:
[code]
I see that the `norm_score` is 0.0 and the `log_norm_score` is -inf, rather than an error.  It does generate a warning, but that can be ignored.

[2020-02-07 00:06] rgerkin opened #130 "Resolve sciunit.base.LOGGING vs sciunit.utils.settings['LOGGING']"
There can be only one ⚔️.

[2020-02-07 01:09] russelljjarvis commented on #128
Bump

[2020-02-10 08:42] ChihweiLHBird commented on #129
Great, let me see how can I work on this.

[2020-02-10 15:00] appukuttan-shailesh commented on #84
Apologies for the long delay! I accidentally upgraded my `sciunit` package without pushing the changes that I had been working on prior to my holidays. So starting afresh on this. Need a few days more.

[2020-02-12 20:21] rgerkin commented on #128
@russelljjarvis
Are you referring to a `NoneScore`?  In that case, I see that `score.norm_score` was evaluating to `None` and `score.log_norm_score` throws an exception.  I've fixed it in 13697135ae47c76b5e34583a99be21eabfb2ea60 (dev branch) so that `score.log_norm_score` also evaluates to `None` now.  If you need a numeric value after that you should handle it in the optimizer (e.g. by treating `

[2020-02-12 20:21] #128 closed

[2020-02-13 21:27] ChihweiLHBird commented on #129
Readme was added to` index.rst`. A pull request for it was created.

[2020-02-20 10:46] appukuttan-shailesh commented on #84
I have made some headway on this task. But it is ending up requiring way more time and effort than anticipated. I am unlikely to be able to set aside much dedicated time for this task before the end of March/April, and so will summarize what's been done along with other findings, so that someone else can run with it in the meantime (I also hope to chip away at it whenever possible).

I started tes

[2020-02-20 20:48] andrisecker opened #133 "tkinter import error on headless system"
I can't `import sciunit` on a cluster because there is no tkinter installed...
and I can't do `sudo apt-get install python-tk`

Would it be possible to put `import tkinter` into a try block (something like https://github.com/scidash/sciunit/blob/master/sciunit/utils.py#185 ) and then set `matplotlib.use('agg')` if it can't import instead of first importing it and then check for it?

[2020-02-21 00:16] rgerkin commented on #133
@andrisecker Do you know which tkinter import or usage line is causing the problem (what file and line)?  You can just paste the stack trace if you want.

[2020-02-21 07:06] andrisecker commented on #133
@rgerkin sorry for not being too specific:
the tkinter import in the beginning of utils.py - line 35:
`from .base import SciUnit, FileNotFoundError, tkinter`

[2020-02-21 18:00] rgerkin commented on #133
@andrisecker Is the error that tkinter is not there (in .base) to import, or is there some problem importing tkinter in general?  Can you run `import tkinter` on your system in general?

[2020-02-21 18:12] rgerkin commented on #133
@andrisecker I just made a commit to the dev branch that should ensure that `tkinter` will always exist in `.base` to be imported, even for Python 2.x without Tkinter (is that what you are using?).  For now, that is the only change I can see that could help so perhaps you can try that out.  Then you might try:
[code]
before running any other sciunit code that might invoke the display.

[2020-02-21 18:14] rgerkin commented on #84
@appukuttan-shailesh Thank you for the very detailed explanation.  I think that @ChihweiLHBird and I can work on this for a while.

[2020-02-21 18:27] andrisecker commented on #133
Thanks @rgerkin ! (I'm using Python 3.6)

[2020-02-21 18:30] rgerkin commented on #133
@andrisecker Could you still put the stack trace here?  I'm not sure how in Python 3.6 it could fail to import tkinter from .base (which just imports tkinter directly in Python 3.x, see [this line](https://github.com/scidash/sciunit/blob/f4196821037a7dd886c38d5b442480b223799257/sciunit/base.py#L28)).

[2020-02-21 18:33] andrisecker commented on #133
sure this is the error I had:
[code]

[2020-02-21 18:42] rgerkin commented on #133
@andrisecker I was under the impression that `tkinter` was part of the Python standard library, but I see (e.g. [here](https://discuss.python.org/t/importerror-no-module-named-tkinter/2448/2)) that in some distributions it is not included.  One solution is for someone to `sudo apt-get install python-tk` or the equivalent on your server.  But I've also just wrapped `import tkinter` it in a try/exce

[2020-02-21 18:44] andrisecker commented on #133
yeah I can't do `apt-get install python-tk` on the server, I can only pip install packages.
Wrapping the import to a try block was what I meant from the start, sorry if it wasn't clear.

[2020-02-21 18:46] rgerkin commented on #133
@andrisecker Right, I just didn't want to commit the user to any specific matplotlib backend so early in the code.  Let me know if the dev branch works for you.

[2020-04-07 10:04] appukuttan-shailesh opened #134 "CellExecutionError from nbconvert package"
'nbconvert' package seems to be undergoing restructuring, and this could require us to make some changes in sciunit.

The following would fail:
https://github.com/scidash/sciunit/blob/master/sciunit/utils.py#L27

I encountered the following when trying to build docs on "ReadTheDocs":

    from .utils import settings, log
  File "/home/docs/checkouts/readthedocs.org/user_builds/hippounit/envs/lates

[2020-04-07 10:14] appukuttan-shailesh commented on #134
We should either go with:
[code]
or change https://github.com/scidash/sciunit/blob/master/requirements.txt#L8
to:
`nbconvert<=5.6.1`

Could we make either of these changes and have a PyPI release? ReadTheDocs doesn't seem to have a workaround to prevent "pre-release" versions from being installed ([more here](https://github.com/readthedocs/readthedocs.org/issues/2339)).

[2020-04-07 19:29] rgerkin commented on #134
@appukuttan-shailesh
That try/except change sounds reasonable.  Do you want to open a PR for it?

[2020-04-08 08:04] appukuttan-shailesh commented on #134
Sure. I have done this now via #135 .

[2020-04-08 17:30] #134 closed

[2020-04-08 18:43] rgerkin commented on #134
@appukuttan-shailesh Merged and new pypi release 0.2.2.1 has been created: https://pypi.org/project/sciunit/

[2020-04-09 07:26] appukuttan-shailesh commented on #134
This works now. Thanks :+1:

[2020-05-19 02:11] ChihweiLHBird commented on #118
I found some code in `utils.py` that still support Python 2. May I remove them?

[2020-05-19 06:14] rgerkin commented on #118
@ChihweiLHBird Yes.

[2020-05-21 09:09] sanjayankur31 opened #144 "sciunit fails to build with pip 20.1.x (with Python 3.9.0b1 and 3.8.3 alike)."
Hi there,

While testing sciunit builds in Fedora 33, we see that it fails to build with the new pip version, since it uses the pip internal API:

[code]

This is with sciunit-0.2.2.

Downstream bug: https://bugzilla.redhat.com/show_bug.cgi?id=1838486

The complete build logs are attached:
[sciunit-build-log.txt](https://github.com/scidash/sciunit/files/4661542/sciunit-build-log.txt)
[sciunit-root

[2020-05-21 13:17] appukuttan-shailesh commented on #144
I too had the same issue yesterday with trying to update docs on ReadTheDocs for a package that uses SciUnit. As a quick fix, I reverted to the previous version of pip (20.0.2). But we would need to eventually update resolve this going forward.

More here: https://github.com/pypa/pip/issues/8188

[2020-05-21 15:52] rgerkin commented on #144
@sanjayankur31 @appukuttan-shailesh Pip changes their API with every version for no reason, dropping key functionality.  We have a fix in another fork which I will merge in here shortly.

[2020-05-21 22:19] rgerkin commented on #144
@sanjayankur31 @appukuttan-shailesh
Merged b5f8d99cc714e8d4ac36e0a345e0cbe27624fe77 into master here, tested on latest `pip`, and released on PyPI as version 0.2.2.2.

[2020-05-21 22:19] #144 closed

[2020-05-21 22:20] rgerkin commented on #118
Mostly done in 9fe0510164a3a98281c1eed22052ba8b2db4cae7.  The remaining attempts at Python 2 found elsewhere can be handled case-by-case.

[2020-05-21 22:20] #118 closed

[2020-05-22 09:29] sanjayankur31 commented on #144
Thank you. I'll update the Fedora package now.

The Fedora Python-SIG that filed the bug had noted that:

[code]

So, I checked pip out of curiosity, and it seems that they do not have a stable external API:
https://github.com/pypa/pip/blob/master/NEWS.rst#1000b1-2018-03-31

The docs say:

https://pip.pypa.io/en/latest/user_guide/#using-pip-from-your-program

[code]

I don't know what a replacemen

[2020-05-22 14:51] rgerkin commented on #144
@sanjayankur31 Using the pip API solved some practical problems and edge cases (like handling comments in `requirements.txt` files, parsing dependencies from git repos with specific version numbers) and a bunch of other projects were doing it, but I won't get burned again!  I didn't realize they weren't even trying for stability.  If we keep `requirements.txt` clean it shouldn't be needed.

[2020-06-09 23:46] rgerkin opened #147 "Can't use `only_lower_triangle` if a score's _best is of the wrong type"
Trying to use `testM2M.judge(..., lower_triangle=True)` fails if `testM2M.score_type._best` is not a valid raw value for the score type indicated by `testM2M.score_type`.  In general, `_best` should never be allowed to be a value that wouldn't be accepted by the score's `check_score` method.

[2020-06-09 23:57] rgerkin commented on #147
Fixed in 459ce7ab8982421dd0ee0c5d9f5ece9e19af1b01.

[2020-06-09 23:57] #147 closed

[2020-06-15 20:58] rgerkin commented on #130
@ChihweiLHBird There are two locations where I have a setting concerning logging.  Could you determine which of these is actually used elsewhere (if either), and make a decision about which one to keep (and remove the other one)?

[2020-06-15 20:59] #133 closed

[2020-06-15 21:32] ChihweiLHBird commented on #130
From this search result page, https://github.com/scidash/sciunit/search?q=LOGGING, we can see that `sciunit.base.LOGGING` was never used in the SciUnit project (except where it is defined), and `sciunit.utils.settings['LOGGING']` was used in `log` function in `sciunit.utils`. My suggestion is deleting `sciunit.base.LOGGING`. I did it locally and it passed all the unit test cases.

[2020-06-15 21:36] ChihweiLHBird commented on #130
https://github.com/scidash/sciunit/pull/150
This is the pull request to remove sciunit.base.LOGGING and update some docstrings.

[2020-06-15 21:37] ChihweiLHBird commented on #130
Fixed in a442c81a34b382e888077b5fbbcbdec6b838f389

[2020-06-15 22:09] ChihweiLHBird commented on #129
Fixed in 57c6742eaa4e1c62c4d6cd546e49fac0d2433992

[2020-06-16 01:45] ChihweiLHBird commented on #82
In `dev` branch, this can be solved by adding
[code]
after line #425, outside of the else statement.
Another possible solution is raise an exception and prohibit creation of a ScoreMatrix object that contains duplicated models or tests.

[2020-06-16 01:49] ChihweiLHBird commented on #82
Fixed in 8da1cbb7ace0d3088e6770215a7e057dd4c1d7cc

[2020-06-16 04:52] ChihweiLHBird commented on #68
Is readthedoc used for solving this?

[2020-06-16 07:01] #130 closed

[2020-06-16 07:11] rgerkin commented on #91
@ChihweiLHBird The goal here is for people to be able to open and run the notebooks right away without installing sciunit.  We have been using Binder for this sort of thing, but it is has been unreliable.  I would like to be able to open the same notebooks in [Google Colab](https://colab.research.google.com/notebooks/intro.ipynb).  The challenge is that Colab always starts from an environment that

[2020-06-16 07:15] rgerkin commented on #68
@ChihweiLHBird Yes, I will close this after I get a chance to review all the docs and merge into master.

[2020-06-16 07:20] #82 closed

[2020-06-16 07:30] rgerkin commented on #89
Something like:
[code]

[2020-06-19 22:18] ChihweiLHBird commented on #91
Fixed in https://github.com/scidash/sciunit/pull/152

[2020-07-13 17:03] rgerkin opened #160 "Suppress "Config file not found" message"
When judging a test suite, the "Config file not found" message is printed for every model/test combo, not just once.  Suppress instances 2-n of this message.

[2020-07-21 12:27] appukuttan-shailesh commented on #133
@rgerkin : Sorry to dig up this closed ticket.
It would be nice if we can incorporate the fix for this (https://github.com/scidash/sciunit/commit/892ddbbb0cff1e432b3403b4d56e1d0232ae8376) into master, and released on PyPI.

We are having problems in using sciunit on Py3 inside the HBP's new Collaboratory (v2). `tkinter` isn't available on this system, and we can only install via `pip`, so unable t

[2020-07-21 23:13] rgerkin commented on #133
I've just merged that fix into master (I should have done that a long time ago) and pushed a new version to pypi: https://pypi.org/project/sciunit/0.2.2.3/.

[2020-07-22 06:45] appukuttan-shailesh commented on #133
Great. Thanks for the quick response :-)

[2020-09-01 15:00] appukuttan-shailesh opened #166 "Giving options for required capabilities"
Currently we use `required_capabilities` to list all the capabilities that are required for a particular test to be undertaken on a given model. I was wondering if there is a way (and if not, if it would be useful to implement) a method to allow specification of one or more sets of capabilities, such that each set individually suffices for the test to be undertaken by the model.

As an example, so

[2020-09-01 15:45] rgerkin commented on #166
There is not currently an implementation for this.  To summarize, is the main use case is "test requires capability set 1 or capability set 2, both of which ultimately implement the same set of require things, but in different ways"?  And ideally the capabilities would be refactored so that each required method occurs in only one place, but for various reasons that isn't possible at the moment?  A

[2020-09-02 08:40] appukuttan-shailesh commented on #166
thats correct

In the current form that I envision it, this capability will implement all the necessary methods (such as inject current, record vm etc), and have no "unimplemented" methods (that we would normally implement on the model). As all BPO models would have similar internal structures, these implementations within the capability should work for all BPO models.

[2020-09-02 18:38] rgerkin commented on #166
If it implements all the necessary methods, why can't it also subclass them?  Then any model that inherits from it will also pass all the capability checks.  Possibly related, there is an `extra_capability_checks` options that goes beyond just using `isinstance` checks and actually does some code inspection, via a user-provided hook.

[2020-09-03 05:15] appukuttan-shailesh commented on #166
Not sure if I follow this entirely..... were you asking why the capability `BPO_compatible` doesn't sub-class the other capabilities (e.g. `cap_A`, 'cap_B`), as it implements the same methods? If so, yes then this could be done. But I was trying to see if the capability `BPO_compatible` and the BPO model loader (both of which would be developed in a base package) could be devised without having to

[2020-09-03 05:17] appukuttan-shailesh commented on #166
I am not too familiar with `extra_capability_checks`. Is there a working example anywhere that I could refer to for understanding how it comes into use?

[2020-09-03 17:19] rgerkin commented on #166
Every capability method that BPO would ever try to implement is originally defined in the corresponding capability.  Presumably you already know what and where these capabilities are.  If you don't I'm not sure how BPO could implement them.  So you would just do something like:
[code]
but with the rest of the stuff that `BPO_compatible` does instead of `pass`.  And you could even automate the impo

[2020-09-04 13:04] appukuttan-shailesh commented on #166
So this is going to be true for every capability corresponding to tests that have already been developed.
But the above plan is more directed towards new tests that would be developed.

We are in some ways putting the onus on the test developers (who would be more adept with the SciUnit framework) to want to offer implicit support for certain standard model formats (e.g. BPO here). So the BPO capa

[2020-09-04 17:20] rgerkin commented on #166
If it is directed towards new tests that will be developed, is there a problem with having a common package or module where all capabilities are written?  Note that this doesn't require that they be implemented there, merely that their names, organization, and method signatures (arguments and return types), and basic purpose be provided there (call this `hbp_capabilities`).  Different packages (e.

[2020-09-30 09:46] appukuttan-shailesh commented on #166
Apologies! I was away for a bit, and just realized that I hadn't returned to this discussion. I have had to shift to another task in the meantime, and so shall return to this discussion a bit later (in most likelihood, will try to rework the design).

[2020-09-30 11:02] appukuttan-shailesh opened #169 "Generating predictions based on target observation"
I was wondering if it would be useful to allow the generation of model prediction based on the target reference data. As an example, I have my observation data in the following format:
[code]
where the keys (0.2, 0.4, ...) are floats that indicate the intenstity of injected current, and the values (A, B, ...) are integers/floats that indicate the firing rate.

I would like my test to run for all t

[2020-10-03 17:14] rgerkin commented on #169
I think this makes sense.  An argument against it would be if the prediction itself could be used to validate the observation.  For example, what if `generate_prediction()` returns something, say a `dict`, whose keys the `observation` should contain, but it cannot be known in advance what these keys will be.  Maybe that would a be a very uncommon use case, and since you have an actual use case req

[2020-10-12 11:26] appukuttan-shailesh commented on #169
Thanks @rgerkin!
I have now made a PR..... let me know if anything needs changing.

[2020-10-13 20:45] rgerkin commented on #169
@appukuttan-shailesh I've merged it.  Do you need a new release from this?

[2020-10-14 08:23] appukuttan-shailesh commented on #169
Thanks @rgerkin. No hurry for the new release, it can wait.
For now I am fairly confident about my input obeservation data, so not too worried about its validation.

[2020-10-14 08:23] #169 closed

[2020-12-16 23:45] russelljjarvis opened #172 "Ratio Score, score type cannot handle legitimate cases where observation and prediction are of different sign (+,-)."
## Scidash:
* Attempted solution:
    if observation and prediction are of different sign, add the absolute value of the negative one to the positive one.
    ie:
    observation = -1
    prediction = 1
    new_observation = np.abs(-1) + prediction
    new_observation = 2
    intended_score = 1/2 (other possibility) 2.0
​
    * this approach lead to poor optimization, I think because,
    I didn't

[2020-12-16 23:47] russelljjarvis commented on #172
[code]

[2020-12-16 23:50] russelljjarvis commented on #172
The only introduced code is as follows:
[code]

This code as is leads to poor optimization results.

[2020-12-18 04:55] rgerkin commented on #172
Whatever change we make, ideally it would produce scores which a) do not have discontinuities and b) which monotonically decrease as the predicted and observed value move apart from each other, for any observed value.

I propose that we add a `RelativeErrorScore` which divides the difference between observation and prediction by a reference constant with the same units.  The reference constant can

[2020-12-19 03:56] rgerkin commented on #172
@russelljjarvis I just committed 4584a7d44c0007f9be059f93c681d1468a73a214 to the dev branch, which adds `RelativeDifferenceScore`.  Try it out.

[2021-01-11 00:10] russelljjarvis commented on #172
Relative difference score does not cause any syntax problems but it leads to less effective optimization than ZScore for reasons that I don't understand.

I can demonstrate sub standard optimization in a NU unit test if you want?

[2021-01-15 06:08] rgerkin commented on #172
@russelljjarvis
Yes, I'd like to understand where Relative difference score is failing.  Can you create an example in the NeuronUnit repository (I want to keep the neuro-specific examples out of the sciunit repo)?  If the example turns out to be a general flaw in RelativeDifferenceScore itself then we can continue the discussion about that here.

[2021-01-16 10:26] russelljjarvis commented on #172
https://github.com/russelljjarvis/neuronunit/blob/feature/neuronunit/unit_test/relative_diff_unit_test.ipynb

[2021-01-17 01:48] russelljjarvis commented on #172
The notebook now shows that they both effectively work, but the ZScore optimization is faster and can get better matches with fewer NGEN/MU.

[2021-05-02 08:59] appukuttan-shailesh opened #182 "Isolating executions of multiple tests across same model when using TestSuite.judge()"
I was taking a look at `TestSuite`, whereby users are able to specify a number of models and tests to be evaluated.
I have found on some occasions that the order in which these tests were executed the outcome. On closer inspection, this discrepancy was arising out of changes that a particular test was making on the model, which affected the "initial state" of the model for the other tests.

When r

[2021-05-02 16:49] rgerkin commented on #182
That's a great idea.  I will look into it.

TestSuite currently has hooks that can be executed after the completion of each test, which you could use to for example reset the value of some model attribute after a test.

[2021-05-19 08:44] zsinnema opened #192 "Errors after switching to sciunit master"
Atm we use the metacell branch of sciunit. When I switch to the master branch and I try to create a new model I get errors. In the past I tested with the InputResistanceTest of neuronunit.passive

Here are the errors:
[code]
![image](https://user-images.githubusercontent.com/124044/118782980-e9a98580-b88e-11eb-870e-b5a24471ae0d.png)

![image](https://user-images.githubusercontent.com/124044/118783

[2021-10-04 13:56] rgutzen opened #198 "utility functions for storing of test predictions"
This is a follow-up to Issue #80.
In cases where it is costly to generate a prediction from a model output (e.g. calculating correlations from spiking activity), it is useful in some workflows to store the test predictions so that they are not computed more than once.
In NetworkUnit a solution is implemented with a few utility functions:
* Each test class `__init__()` creates a unique test hash: `

[2021-11-03 15:53] morales-gregorio commented on #198
Additionally, @rgutzen and I have been looking into this cacheing issues in the different models and tests.

Currently the `sciunit/test.py:_judge()` function uses a kwarg `cached_prediction` to decide whether to save the test predictions as an attribute `self.prediction` or not. We think that saving the test predictions into the test class can be dangerous in cases where the same test is to be ru

[2021-11-03 21:47] rgerkin commented on #198
@rgutzen I'm sorry I missed this when you first opened it.

@morales-gregorio I think this looks good.  So as I understand it, as soon as you used the same test on a different model, the cached prediction would no longer be there, since the test is relying on each model's cache to find its cached predictions.  That makes sense.  My only reservation is that now the model cache has multiple kinds of

[2021-11-04 15:08] rgutzen commented on #198
@rgerkin  thanks for the assessment. I see your point, that the model cache may become crowded. However, as long as it is ensured that only unique keys are used this should still be robust; and regarding eventual memory overflow, utility functions like `clear_cache` could be added.

I guess to make the cache handling more developer-friendly, functions similar to the above `get/set_prediction` coul

[2021-11-13 04:23] russelljjarvis opened #199 "Model population container type, with scoring methods via settable prediction class attributes (see PR https://github.com/scidash/sciunit/pull/173)."
Although, sciunit has great existing methods for scoring collections of models. When neuron network simulators are applied to the task of single neuron model optimization, 3 notable simulators (PyNN, NEST, SpikingNeuralNetworks.jl) make it more convenient to model a population of cells (N>1), than a single cell (N=1). Indeed the noted simulators appear to be byte code optimized for evaluating a ce

[2021-11-22 18:13] rgerkin commented on #199
@russelljjarvis OK, so the main idea here is that you would like for the SciUnit model being judged, and all its methods being called, to be a population of smaller, possible heterogeneous models.  In the concrete example of neuron simulations, the population is a population of neurons.

As you may know, you can already set `Test.prediction` directly and then when calling `Test.judge(model, cached

[2021-11-28 06:55] russelljjarvis commented on #199
A lookup cache might work. As you suggest generating a list of predictions/features outside sciunit is often the more pragmatic choice. I am not sure if the documentation currently reflects this.

Pre-implemented
1. simulate population (with a network simulator) ie simulate a chromosome. (parallel code in external simulator managed for us).
We implement
2. get waveforms, do external feature extrac

[2022-02-23 12:27] appukuttan-shailesh opened #201 "Query regarding 'quantities-scidash' dependency"
I am creating a Spack recipe for SciUnit, and I saw that it has a dependency for [quantities-scidash](https://pypi.org/project/quantities-scidash/). I see that this was added as a replacement for [quantities](https://pypi.org/project/quantities) in this [commit](https://github.com/scidash/sciunit/commit/7a11ca2c0b70193d5c66d5085cd6d14a2ead0195).

I am curious why we needed this change? If it indee

[2022-02-23 16:39] rgerkin commented on #201
@appukuttan-shailesh
https://github.com/python-quantities/python-quantities/pull/186 was an important fix for sciunit compatibility and was taking a while to get integrated so I forked, applied the fix, and made a new version on pypi for the time being.  It looks like it got merged in in October so it should be in the v0.13.0 release of quantities which is now on pypi.

If you'd like to submit a P

[2022-02-23 19:48] rgerkin commented on #201
You should be good to go now: https://pypi.org/project/sciunit/0.2.6/

[2022-02-23 19:48] #201 closed

[2022-02-24 08:38] appukuttan-shailesh commented on #201
Thanks @rgerkin . I will share the spack recipe once it is approved and integrated into the EBRAINS Collaboratory.

[2022-05-10 14:54] appukuttan-shailesh opened #206 "Score data being lost on pickling and unpickling"
@rgerkin any thoughts on why I seem to lose the `related_data` info on pickling and unpickling:

[code]

<class 'sciunit.scores.complete.ZScore'>
{}
{'figures': ['a']}
dict_keys(['score', 'related_data'])

[code]

<class 'sciunit.scores.complete.ZScore'>
None
dict_keys(['description', 'log10_norm_score', 'log2_norm_score', 'log_norm_score', 'model', 'norm_score', 'observation_schema', 'raw', 'remo

[2022-05-10 14:58] appukuttan-shailesh commented on #206
I tested with SciUnit v0.2.3 and the above problem doesn't arise.
Is it a new feature related effect or bug?

[2022-05-10 21:03] rgerkin commented on #206
Look into [this method](https://github.com/scidash/sciunit/blob/0c2b13bef8ef2d8222bda8e29041198760820c54/sciunit/base.py#L296) which pickle uses to get the state for pickling.  See if it returns a dict with the contents of related_data intact or not.  If it doesn't, look at the function called inside which gets the list of attributes to hide from the state, based on all the state_hide attributes i

[2022-05-11 10:51] appukuttan-shailesh commented on #206
So that method [def __getstate__](https://github.com/scidash/sciunit/blob/0c2b13bef8ef2d8222bda8e29041198760820c54/sciunit/base.py#L296) indeed does not [return](https://github.com/scidash/sciunit/blob/0c2b13bef8ef2d8222bda8e29041198760820c54/sciunit/base.py#L313) `related_data`.

_(I am also curious why we add "state_hide" to `state_hide` [here](https://github.com/scidash/sciunit/blob/0c2b13bef8e

[2022-05-13 23:20] #206 closed

[2022-05-14 07:21] appukuttan-shailesh commented on #206
@rgerkin Thanks for the merge. would it be possible to release v0.2.7 with this change?

[2022-05-14 17:46] rgerkin commented on #206
Done.

[2022-05-14 18:36] appukuttan-shailesh commented on #206
Thanks @rgerkin

[2022-07-01 15:24] sanjayankur31 opened #208 "v0.2.7 not tagged"
Hello,

I was looking to update the [NeuroFedora sciunit package](https://src.fedoraproject.org/rpms/python-sciunit), and we use tags to fetch the sources which failed. I *think* it's because the v0.2.7 release is missing in the tag list:

https://github.com/scidash/sciunit/tags

[2022-07-01 16:56] rgerkin commented on #208
@sanjayankur31 v0.2.7 now added to tags: https://github.com/scidash/sciunit/tags.

[2022-07-01 16:56] #208 closed

[2022-07-01 18:06] sanjayankur31 opened #209 "inspect.getargspec deprecated in Python 3"
... and it's been removed in Python 3.11:

https://docs.python.org/3.11/whatsnew/3.11.html?highlight=inspect%20signature#removed

We need to use signature or getfullargspec instead:

[code]

[2022-07-01 18:15] rgerkin commented on #209
Would you like to submit a PR for this?  We would be happy to have your contribution.  If not, I'll take care of it.

[2022-07-01 19:15] sanjayankur31 commented on #209
Sure, opened #210 . Since I'm building for py3.11 now, I was hoping to also enable that in CI, but I don't think 3.11 is available on GH actions yet, so we'll have to wait a bit for that.

[2022-07-01 19:17] #209 closed

[2022-07-01 20:10] sanjayankur31 opened #211 "Test failure on Py3.11"
A test is failing on Py3.11 here:

[code]

Steps to reproduce:

- clone repo
- install py3.11 and associated developer libraries/headers
- set up py3.11 virtualenv
- `pip install wheel pytest`
- `pip install .`
- `chmod +x test.sh`
- `./test.sh`

[2022-07-01 20:13] sanjayankur31 commented on #211
Just double-checked: all tests pass on py3.10:

[code]

[2022-08-16 10:59] appukuttan-shailesh opened #213 "Multiple score_type for same test"
Is it possible to specify multiple values for `score_type` for a single test? I have tried doing something like:
```score_type = [NAScore, ZScore, KLdivMeanStd]```
but doesn't seem to work.

This is for handling situations, for example, where the model is stochastic and we record all the spikes for some analysis (say, AP width).
The possible cases are:
(i) No spikes (prediction = None)
(ii) Single

[2022-08-16 15:14] rgerkin commented on #213
I don't think it will work as written because eventually Test.score_type() will be called to instantiate a score, so that won't work directly on a list.  Where this occurs, you could imagine fixing Sciunit to iterating through the list of score_types with a try/except block for each until you get the one that matches your case.  This isn't ideal, though.

When both obs & pred are distributions I u

[2022-08-16 15:30] appukuttan-shailesh commented on #213
Thanks @rgerkin ... do you have any examples that currently handle "Not Applicable" cases (e.g. capability not satisfied, or prediction not as required, etc) when models run tests..... where an error isn't raised, but the score is set to null or NA or similar. I see this situation arising when running Test Suites, where a few might be failing.

Yes, `KLdivMeanStd` was an implementation of the Kull

[2022-08-16 20:07] rgerkin commented on #213
One of the scores in the [scores/incomplete.py](https://github.com/scidash/sciunit/blob/master/sciunit/scores/incomplete.py) module might help.  The usual workflow is for your `compute_score` to just return an instance of one of these instead of an instance of whatever `Test.score_type` happens to be.

[2022-08-17 08:44] #213 closed